# db
DB__HOST=localhost
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=postgres
DB__NAME=postgres

# logs
COMMON__LOG_LEVEL=INFO
COMMON__PROMETHEUS_ENABLED=True
COMMON__PROJECT_NAME=mock_api

# scheduler configs
SCHEDULER__ORDER_PROCESSING_DATA_MAX_AGE_HOURS=24
SCHEDULER__STOREFRONT_DATA_MAX_AGE_HOURS=24
SCHEDULER__PRODUCT_UPLOAD_DATA_MAX_AGE_HOURS=24
